.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock
.idea/
.vscode/
*.iml
android/local.properties
android/.gradle/
android/key.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Flutter/ephemeral/
.DS_Store
Thumbs.db
.env
secrets.dart
